{% extends 'dappx/base.html' %}
{% block body_block %}
<div class="content-section">
  <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">Log In</legend>
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">
          <label for="password">Password:</label>
          <input type="password" name="password" placeholder="Password">
          
      </fieldset>
      <div class="form-group">
        <input class="btn btn-outline-info" type="submit" name="" value="Login">
      </div>
  </form>
  <div class="border-top pt-3">
      <small class="text-muted">
          Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
      </small>
  </div>
</div>
{% endblock %}